<!-- 管道是格式化字符串、金额、日期和其他显示数据的好办法，'|'是管道操作符，uppercase是内置管道 -->
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- *ngFor是一个Angularde的复写器指令（repeater），它会为列表中的每项数据复写它的宿主元素 -->
  <!-- click外面的()会让Angular监听这个<li>元素的click事件 -->
  <!-- Angular的CSS类绑定详情参考：https://angular.cn/guide/template-syntax#class-binding -->  
  <li *ngFor="let hero of heroes" 
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{ hero.id }}</span>{{ hero.name }}
  </li>
</ul>
<!-- [hero]="selectedHero" 是 Angular 的属性绑定语法（这是一种单向数据绑定），详见：https://angular.cn/guide/template-syntax#property-binding -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
